 .nav > nav > ul> li  {
    display:inline-block;
    padding: 5px;
    margin: 40px;
    box-shadow: 2px 2px 5px inset brown;
    text-decoration-style: none;
}

h1  {
    text-align: center;
    color: brown;
}
h2  {
    color:brown;
}
*  {
    background-color: antiquewhite;
}
#picture >img  {
   
    margin: 20px;
}
